<h1>Backgammon-js</h1>
<h2>Feel free to stay a while and play a game</h2>
<div ><span id="player"></span> to play next</div>
<div id="game-board">
	<span>

	<svg width="710" height="500">
	<g class="background">
	<rect width="710" height="700" />
	</g>
	<g class="places">
	<polyline points="5,0 25,200 45,0 " />
	<polyline points="55,0 75,200 95,0" />
	<polyline points="105,0 125,200 145,0" />
	<polyline points="155,0 175,200 195,0" />
	<polyline points="205,0 225,200 245,0" />
	<polyline points="255,0 275,200 295,0" />

	<polyline points="355,0 375,200 395,0" />
	<polyline points="405,0 425,200 445,0" />
	<polyline points="455,0 475,200 495,0" />
	<polyline points="505,0 525,200 545,0" />
	<polyline points="555,0 575,200 595,0" />
	<polyline points="605,0 625,200 645,0" />

	<polyline points="5,500 25,300    45,500" />
	<polyline points="55,500 75,300   95,500" />
	<polyline points="105,500 125,300 145,500" />
	<polyline points="155,500 175,300 195,500" />
	<polyline points="205,500 225,300 245,500" />
	<polyline points="255,500 275,300 295,500" />

	<polyline points="355,500 375,300 395,500" />
	<polyline points="405,500 425,300 445,500" />
	<polyline points="455,500 475,300 495,500" />
	<polyline points="505,500 525,300 545,500" />
	<polyline points="555,500 575,300 595,500" />
	<polyline points="605,500 625,300 645,500" />
	</g>
	<g class="bar">
	<rect x="300" width="50" height="500" />
	</g>
	<g class="home">
	<rect x="660" width="50" height="500" />
	</g>

	<g id="pieces">
	</g>
	</svg>
</span>
<span id='chat'>
	<div id='chat'>
	Write a message: 
	<div><input id=input placeholder=you-chat-here /></div>
	<div id=box></div>
	<script src=http://cdn.pubnub.com/pubnub.min.js></script>
	<script>(function(){
		var box = PUBNUB.$('box'), input = PUBNUB.$('input'), channel = 'chat';
		PUBNUB.subscribe({
			channel : channel,
			callback : function(text) { box.innerHTML = (''+text).replace( /[<>]/g, '' ) + '<br>' + box.innerHTML }
		});
		PUBNUB.bind( 'keyup', input, function(e) {
			(e.keyCode || e.charCode) === 13 && PUBNUB.publish({
				channel : channel, message : input.value, x : (input.value='')
			})
		} )
	})()</script>
</div>
</span>
</div>
<div id="dice">
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src='javascripts/d3.js'></script>
<script src='javascripts/jquery.js'></script>
<script src='javascripts/underscore.js'></script>
<script src='javascripts/backgammon.js'></script>
<script src="/socket.io/socket.io.js"></script>
